*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
    background-color: yellow;
    border: 1px solid black;
}

.hero{
    height: 100vh;
    background-color: #1c1d25;
    color: white;
    font-size: 1rem;
}

footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 0;
    margin-bottom: 60px;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2rem;
    margin-top: 0;
}

li{
    text-align:center;
}

h1{
    font-size: 6rem;
    margin: 0;
}


h2{
    font-size: 50px;
}

hr{
    margin: 0 15px;
}

p{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
.subtext{
    margin: 10px;
    font-size:15px;
    font-weight: 300;
}

a{
    color: white;
    text-decoration: none;
}

a:hover,
a:focus{
    color: aqua;
}

.hero-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: space-between; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 200px; */
}

.btn{
    /* width:200px;
    height: 55px; */
    font-size: 30px;
    padding:0.2em 0.2em;
    margin: 30px auto;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-weight: 300; 
}


.btn:hover{
    background-color: #ef744b;
}

.btn:active{
    background-color:darkgrey;
    color: #808080;
}

.socials{
    /* padding-bottom: 200px; */
    display: flex;
    align-content: center;
    justify-content: center;
    /* flex-direction: column; */
}

.social{
    margin: 10px;
}

.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1em;
}


.profile-pic{
    margin: 1em;
    border-radius: 50%;
    width: 300px;
}

.sub-section2{
    padding: 80px;
    background-color: #1c1d25;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-card{
    width: 300px;
    height:500px;
    background-color: rgb(26, 21, 21);
    color: white;
    border-radius: 5px;
    margin:10px;
    box-shadow: 5px 5px 15px rgb(122, 121, 121);
}

.project-card+.project-card{
    margin-left: 15px;
}

.project-image{
    margin-top: 25px;
    height:300px;
    width:250px;
    border:1px solid rgb(204, 197, 197);
    border-radius: 50%;
}

.project-link
{
    color: #ef744b;
}

footer{
    color: white;
    text-align: center;
    padding-top: 30px;
}

footer p{
    font-size:20px;
}

@media (min-width:900px){
    nav{
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    text-align: justify;
}

    ul{
        max-width: 70%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 25px;
    }

    li + li{
        margin-left: 1em;
    }

    .hero-area{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .hero-text{
    text-align: left;
    margin-left: 80px;
    margin-bottom: 200px;
    }
    
    .socials{
        padding-bottom: 200px;
        flex-direction: column;
    }

    .btn{
        width:200px;
        height: 55px;
        margin: 0;
        margin-top: 20px;
        padding-top: 7px;
    }

    .sub-section{
        text-align: left;
        flex-direction: row;
        justify-content: space-around;
        padding: 80px;
    }
    .profile-pic{ 
        margin: 0;
    }
    
    .project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:stretch;
    }

    footer{
        padding: 80px;
    }

    footer p{
        font-size:xx-large;
    }

}



