*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
    background-color: yellow;
    border: 1px solid black;
}

.hero{
    height: 100vh;
    background-color: #1c1d25;
    color: white;
    font-size: 1rem;
}

footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 0;
    margin-bottom: 60px;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2rem;
    margin-top: 0;
}

li{
    text-align:center;
}

h1{
    font-size: 6rem;
    margin: 0;
}


h2{
    font-size: 50px;
}

p{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

a{
    color: white;
    text-decoration: none;
}

a:hover,
a:focus{
    color: aqua;
}

.hero-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: space-between; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 200px; */
}

.btn{
    /* width:200px;
    height: 55px; */
    font-size: 30px;
    padding:0.2em 0.4em;
    margin: 30px auto;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-weight: 300;
}

.btn:hover{
    background-color: #ef744b;
}

.btn:active{
    background-color:darkgrey;
    color: #808080;
}

.socials{
    /* padding-bottom: 200px; */
    display: flex;
    align-content: center;
    justify-content: center;
    /* flex-direction: column; */
}

.social{
    margin: 10px;
}

.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1em;
}



.profile-pic-container{
    /* display: flex; */
    /* align-items: center; */
}

.profile-pic{
    margin: 1em;
    border-radius: 50%;
    width: 300px;
}

@media (min-width:700px){
    nav{
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    text-align: justify;
}

    ul{
        max-width: 70%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 25px;
    }

    li + li{
        margin-left: 1em;
    }

    .hero-area{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .hero-text{
    text-align: left;
    margin-left: 80px;
    margin-bottom: 200px;
    }
    
    .socials{
        padding-bottom: 200px;
        flex-direction: column;
    }

    .btn{
        width:200px;
        height: 55px;
        margin: 0;
        margin-top: 20px;
        padding-top: 7px;
    }

    .sub-section{
        text-align: left;
        flex-direction: row;
        justify-content: space-around;
        /* align-content: stretch; */
        padding: 80px;
    }
    .profile-pic{
        margin: 0;
    }
}
